{% extends 'fourth_task/menu.html' %}

{% block pagename %}Каталог{% endblock %}

{% block content %}
    <h1>Каталог моделей</h1>
     <p>Ознакомьтесь с нашим ассортиментом 3D-моделей:</p>

     <h2>Персонажи</h2>
     <ul>
         <li><a href="#">Модель персонажа 1</a></li>
         <li><a href="#">Модель персонажа 2</a></li>
         <li><a href="#">Модель персонажа 3</a></li>
     </ul>

      <h2>Окружение</h2>
     <ul>
         <li><a href="#">Модель окружения 1</a></li>
         <li><a href="#">Модель окружения 2</a></li>
         <li><a href="#">Модель окружения 3</a></li>
     </ul>

      <h2>Оружие</h2>
     <ul>
         <li><a href="#">Модель оружия 1</a></li>
         <li><a href="#">Модель оружия 2</a></li>
         <li><a href="#">Модель оружия 3</a></li>
     </ul>

     <a href="/home/"><button>На главную</button></a>
{% endblock %}